<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link th:href="@{/css/custom.css}" rel="stylesheet">

<title>Document</title>

</head>
<body>
	<nav class="navbar navbar-expand-lg smart-scroll">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> <img
				th:src="@{/images/weblogo.png}" src="../static/images/weblogo.png"
				width="auto" height="20" class="d-inline-block align-top" alt="" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- search field -->
				<ul class="navbar-nav mx-auto">
					<li>
						<form class="input-group nav-search-container" th:action="@{/search}"
							method="get">
							<input type="text" name="keyword" th:value="${keyword}"
								class="search-box" placeholder="Search products">
							<div class="input-group-append">
								<button class="search-btn input-group-append" type="submit">
									<i class="fa-solid fa-magnifying-glass"></i>
								</button>
							</div>
						</form>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto nav-menu-item">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}"
						href="#">Home</a></li>
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/shop}" href="#">Shop</a></li>

					<!-- cart icon -->
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/cart}" href="#"><i
							class="fa-solid fa-cart-shopping"></i></a></li>
					<li class="nav-item active"><span class="badge badge-dark"
						th:text="${cartCount}">0</span></li>
					<!-- profile icon -->
					<li class="nav-item active dropdown"><a class="nav-link"
						th:href="@{/shop}" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa-solid fa-user"></i>
					</a>
						<div class="dropdown-menu dropdown-menu-right"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item" sec:authorize="isAuthenticated()"
								href="#"><i class="fa-solid fa-circle-user mr-2"></i>Profile</a>

							<a class="dropdown-item" sec:authorize="isAnonymous()"
								th:href="@{/login}" href="#"><i
								class="fa-solid fa-user-lock mr-2"></i>Login</a> <a
								class="dropdown-item" th:href="@{/cart}" href="#"><i
								class="fa-solid fa-cart-shopping mr-2"></i>View Cart</a> <a
								class="dropdown-item" sec:authorize="isAuthenticated()"
								th:href="@{/logout}" href="#"><i
								class="fa-solid fa-right-from-bracket mr-2"></i>Logout</a>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<br>
	<br>
	<!-- Home page -->
	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-sm-3 home-left">

				<ul class="list-group">
					<li><p>Categories</p></li>
					<a th:href="@{/shop}"><li class="list-group-item">All
							Products</li></a>
					<a href="" th:each="category, iStat : ${categories}"
						th:href="@{/shop/category/{id}(id=${category.id})}"><li
						class="list-group-item" th:text="${category.name}"></li></a>

				</ul>
			</div>

			<div class="col-sm-9">
				<!-- slider start-->

				<div id="carouselExampleCaptions"
					class="carousel slide carousel-fade" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleCaptions" data-slide-to="0"
							class="active"></li>
						<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
						<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active" style="height: 350px;">
							<img th:src="@{/images/slider1.jpg}"
								src="../static/images/slider1.jpg" class="d-block w-100"
								alt="slider1"
								style="position: absolute; top: 0; left: 0; min-height: 350px;">
							<div class="carousel-caption d-none d-md-block text-left">
								<h5>First slide label</h5>
								<p>Some representative placeholder content for the first
									slide.</p>
								<a href="#" class="primary-btn"> Shop Now</a>
							</div>
						</div>
						<div class="carousel-item" style="height: 350px;">
							<img th:src="@{/images/slider2.jpg}"
								src="../static/images/slider2.jpg" class="d-block w-100"
								alt="slider2"
								style="position: absolute; top: 0; left: 0; min-height: 350px;">
							<div class="carousel-caption d-none d-md-block text-right">
								<h5>Second slide label</h5>
								<p>Some representative placeholder content for the second
									slide.</p>
								<a href="#" class="primary-btn"> Shop Now</a>
							</div>
						</div>
						<div class="carousel-item" style="height: 350px;">
							<img th:src="@{/images/slider3.jpg}"
								src="../static/images/slider3.jpg" class="d-block w-100"
								alt="slider3"
								style="position: absolute; top: 0; left: 0; min-height: 350px;">
							<div class="carousel-caption d-none d-md-block text-right">
								<h5>Third slide label</h5>
								<p>Some representative placeholder content for the third
									slide.</p>
								<a href="#" class="primary-btn"> Shop Now</a>
							</div>
						</div>
					</div>
					<!-- <button class="carousel-control-prev" type="button"
						data-target="#carouselExampleCaptions" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-target="#carouselExampleCaptions" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</button> -->
				</div>
				<!-- slider end -->
				<div class="row my-5 text-center">
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h2>
									<i class="fa-solid fa-user-gear"></i>
								</h2>
								<h6 class="card-title">SUPPORT 24/7</h6>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h2>
									<i class="fa-solid fa-person-walking-arrow-loop-left"></i>
								</h2>
								<h6 class="card-title">FREE RETURN</h6>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h2>
									<i class="fa-solid fa-truck-fast"></i>
								</h2>
								<h6 class="card-title">FREE shipping</h6>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-4" th:each="product : ${products}">
						<div class="card product-card" style="margin-top: 20px">
							<div class="product-img-card">
								<img class="product-img" height="180px" width="100%"
									th:src="@{${'/productImages/' + product.imageName}}"
									th:alt="${product.name}">
							</div>
							<div class="card-body">
								<h4 class="card-title" th:text="${product.name}"></h4>
								<h5>
									<span class="product-price">&#2547;</span> <span
										th:text="${product.price}"></span>
								</h5>

							</div>
							<div class="btn-group product-btn">
								<a href="#"
									th:href="@{/shop/viewproduct/{id}(id=${product.id})}"
									class="btn btn-light view"><i class="fa-solid fa-eye mx-2"></i>View</a>
								<a href="" th:href="@{/addToCart/{id}(id = ${product.id})}"
									class="btn btn-light addcart"><i
									class="fa-solid fa-cart-plus mx-2"></i> Add to Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>








	<section class="text-center mt-5 py-3 bg-dark text-light">
		<div class="container">
			<div class="row copyright">
				<div class="col">
					<p>
						Copyright 2022 &copy; <a href="https://tawhidh.github.io"
							target="black">Tawhid Hassan</a>
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<!-- gotop button -->
	<a href="#" class="gotopbtn"><i class="fa-solid fa-arrow-up"></i></a>



	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<script>
      if($('.smart-scroll').length > 0){
        var last_scroll_top = 0;
        $(window).on('scroll', function(){
          scroll_top = $(this).scrollTop();
          if(scroll_top < last_scroll_top){
            $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
          }else{
            $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
          }
          last_scroll_top = scroll_top;
        });
      }
    </script>


</body>
</html>